<div class="card mt-5 mx-auto" style="width: 18rem;">
    <img src={{this.img}} class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">STOCK: {{this.stock}}</p>
        <p class="card-text">PRECIO: $ {{this.price}}</p>
    </div>
</div>