<form action="/productos" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="stock" class="form-label">Stock</label>
        <input type="text" class="form-control" id="stock" name="stock">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="text" class="form-control" id="price" name="price">
    </div>
    <div class="mb-3">
        <label for="img" class="form-label">url de la imagen</label>
        <input type="text" class="form-control" id="img" name="img">
    </div>
    <button type="submit" class="btn btn-primary">Guardar Producto</button>
</form>